body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

//zmienne
$colorGrey_1: #c4c2c2;

.buttons2{
    background: coral;
    height: 400px;
    position: relative;
    .btnAnimate{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50px;
        width: 200px;
        text-align: center;
        color: rgb(17, 17, 17);
        border: 2px solid #fff;
        border-radius: 3px;
        font-size: 17px;
        line-height: 47px;
        font-weight: bold;
        overflow: hidden;
        cursor: pointer;
    }
    .efect1{
        &:before{
            content: "";
            width: 0px;
            height: 55px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: -10%;
            transform: translateY(-50%) skewX(-20deg);
            transition: all 0.5s;
            z-index: -1;

        }
        &:hover:before{
            width: 350px;
        }
    }
    .efect2{
        &:before{
            content: "";
            width: 0px;
            height: 55px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) skewX(-20deg);
            transition: all 0.5s;
            z-index: -1;

        }
        &:hover:before{
            width: 350px;
        }
    }
}
.geo{
    .czyWspiera, .twojeDane{
        padding: 20px;
        text-align: center;
        background: #1c1c1c;
        color: #fff;
        width: 400px;
        margin: 10px 0;
    }
    .geoBtn{
        padding: 10px 30px;
        background: rgb(216, 66, 66);
        border: 1px solid rgb(216, 66, 66);
        color: #fff;
        border-radius: 3px;
        display: inline-block;
        margin: 10px 0;
        transition: all 0.3s;
        &:hover{
            background: #fff;
            color: rgb(216, 66, 66);
        }
    }
}
.wrapper4{
    .text3{
        transition: all 1s;
    }
    .pink{
        transition: all 1s;
        background: pink;
    }
    .green{
        background: green;
    }
}
.wrapper5{
    padding: 20px;
}
.wrapper6{
    padding: 20px;
    input{
        display: block;
        padding: 5px 2px;
        margin: 5px 0;
        width: 50%;
    }
}