body {
  margin: 0;
  padding: 10px;
  font-size: 16px;
  background: #e2e1e1;
  font-family: 'Roboto', sans-serif; }

* {
  box-sizing: border-box; }

.mainTitle {
  padding: 10px 0;
  text-align: center;
  font-size: 2rem; }

#fileAPI .propertiesBox {
  display: flex;
  flex-direction: column;
  margin: 20px 0; }
  #fileAPI .propertiesBox p {
    padding: 10px 20px;
    background: #e47676;
    color: #fff;
    margin: 3px 0;
    width: 300px;
    text-align: center;
    border-radius: 6px; }
#fileAPI .fileButtons {
  display: flex;
  flex-direction: column; }
  #fileAPI .fileButtons div {
    padding: 5px 10px;
    margin: 5px 0;
    width: 100px;
    text-align: center;
    color: #fff; }
  #fileAPI .fileButtons #startFile {
    background: #4edf22; }
  #fileAPI .fileButtons #stopFile {
    background: #dd4b46; }

#myOwnVideoPlayer h1 {
  text-align: center; }

.videoPlayer {
  background: #cacaca;
  width: 80%;
  margin: 0px auto;
  position: relative; }
  .videoPlayer .videoBox {
    position: relative;
    z-index: 1; }
    .videoPlayer .videoBox .backgroundVideo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../img/play2.png) no-repeat;
      background-position: center center;
      background-size: 13%;
      transition: all 0.3s;
      background-color: rgba(0, 0, 0, 0.53); }
      .videoPlayer .videoBox .backgroundVideo:hover {
        background-size: 17%;
        cursor: pointer; }
  .videoPlayer video {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    left: 0; }
  .videoPlayer .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0; }
    .videoPlayer .controls .cont {
      display: flex;
      justify-content: center;
      align-items: center; }
    .videoPlayer .controls .leftControls {
      width: 70px; }
      .videoPlayer .controls .leftControls .playPause {
        font-size: 30px;
        position: relative; }
        .videoPlayer .controls .leftControls .playPause .fa-pause {
          display: none;
          position: absolute;
          top: 0;
          left: 0; }
        .videoPlayer .controls .leftControls .playPause:hover {
          cursor: pointer; }
    .videoPlayer .controls .progressBar {
      width: 60%;
      background: #f7f4f4;
      height: 20px;
      position: relative;
      z-index: 2; }
      .videoPlayer .controls .progressBar .playbackBar {
        width: 10%;
        background: #ec3838;
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        z-index: 4; }
      .videoPlayer .controls .progressBar .loadedBar {
        width: 50%;
        height: 20px;
        background: #030303;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3; }
      .videoPlayer .controls .progressBar:hover {
        cursor: pointer; }
    .videoPlayer .controls .rightControls {
      width: 300px;
      justify-content: flex-start;
      padding: 0 10px;
      font-size: 17px; }
      .videoPlayer .controls .rightControls .fullScreen {
        display: flex;
        align-items: center;
        padding: 0 10px;
        color: black;
        font-size: 15px; }
      .videoPlayer .controls .rightControls .volume {
        display: flex;
        align-items: center; }
        .videoPlayer .controls .rightControls .volume:hover {
          cursor: pointer; }
        .videoPlayer .controls .rightControls .volume .glyphicon-volume-up, .videoPlayer .controls .rightControls .volume .glyphicon-volume-off {
          width: 20%;
          margin: 0 10px; }
        .videoPlayer .controls .rightControls .volume .fullVolume {
          background: #ddd;
          position: relative;
          height: 10px;
          width: 100px;
          display: flex;
          align-items: center; }
          .videoPlayer .controls .rightControls .volume .fullVolume .currentVolume {
            position: absolute;
            background: black;
            height: 10px;
            width: 20%; }

#mediaBox {
  background: #d69c9c;
  text-align: center; }
  #mediaBox audio {
    width: 50%; }
  #mediaBox video {
    width: 50%;
    margin: 20px auto; }

#myCanvas {
  display: block;
  margin: 20px auto;
  border: 1px solid #969696; }

.webStorage {
  text-align: center;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 20px;
  width: 40%;
  margin: 20px auto;
  background: linear-gradient(270deg, #ee1280, #f78c13); }
  .webStorage #support {
    padding: 20px 30px; }
  .webStorage .wspiera {
    background: #2b2a2a;
    color: #f0f0f0; }
  .webStorage .niewspiera {
    background: #df9990;
    color: #f0f0f0; }
  .webStorage form input {
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    background: #2b2a2a;
    color: #f0f0f0;
    border: none; }
    .webStorage form input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fcfcfc;
      opacity: 0.65;
      /* Firefox */ }
    .webStorage form input:focus {
      outline: 1px solid rgba(230, 230, 230, 0.864);
      border: none; }
  .webStorage form [type=submit] {
    display: inline-block;
    width: 30%; }

.geo {
  width: 50%;
  border: 2px solid black;
  text-align: center;
  border-radius: 4px;
  padding: 10px 20px;
  background: #f3f3f3;
  margin: 10px auto; }
  .geo .czyWspiera, .geo .twojeDane {
    padding: 5px 10px;
    background: #fff;
    border-radius: 3px;
    margin: 10px 0;
    color: #000; }
  .geo .geoBtn {
    padding: 3px 10px;
    background: #be4545;
    color: white;
    border-radius: 3px;
    border: 1px solid #be4545;
    margin: 20px auto;
    font-size: 12px;
    display: inline-block;
    transition: all 0.3s; }
    .geo .geoBtn:hover {
      background: #fff;
      color: #be4545; }

.showRoad {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 3px; }
  .showRoad h1 {
    text-align: center; }
  .showRoad #map {
    height: 400px; }
  .showRoad #mapOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px; }
    .showRoad #mapOptions input {
      width: 200px;
      text-align: center;
      margin: 0 10px;
      padding: 5px;
      border-radius: 3px;
      font-size: 14px; }
    .showRoad #mapOptions .showRoadBTN, .showRoad #mapOptions .whereAmI {
      background: #1a5d94;
      color: #fff;
      border-radius: 3px;
      border: 1px solid #1a5d94;
      transition: all 0.3s;
      margin: 0 10px;
      padding: 5px 5px;
      font-size: 14px; }
      .showRoad #mapOptions .showRoadBTN:hover, .showRoad #mapOptions .whereAmI:hover {
        background: #fff;
        color: #1a5d94; }
    .showRoad #mapOptions .hidden {
      display: none; }

.wrapper {
  width: 100%; }

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .buttons .btn {
    background: #286fc0;
    color: #ddd;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    flex: 1;
    text-align: center; }
    .buttons .btn:hover {
      background: #ddd;
      color: #286fc0; }

.box2 {
  width: 300px;
  height: 100px;
  background: #1652ac;
  color: #fff;
  box-shadow: inset 0 0 20px #ddd;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 20px 40px;
  border: 20px solid black; }

#btnX2 {
  padding: 20px;
  position: fixed;
  top: 30px;
  right: 30px;
  background: pink;
  color: black; }

.nextTitle {
  text-align: center;
  padding: 10px 0; }

#target {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #ddd;
  color: #070707;
  line-height: 2; }

#capturing {
  border: 3px solid black;
  text-align: center;
  width: 500px;
  margin: 20px auto; }
  #capturing #div1 {
    border: 3px solid black;
    width: 400px;
    margin: 20px auto; }
    #capturing #div1:hover {
      background: burlywood; }
  #capturing #div2 {
    border: 3px solid black;
    width: 300px;
    margin: 20px auto; }
  #capturing #div3 {
    border: 3px solid black;
    width: 200px;
    margin: 20px auto; }

.lazyLoad .lazy {
  width: 700px;
  height: 467px;
  display: block; }

#footer {
  background: #464545;
  color: bisque;
  font-size: 20px;
  padding: 10px 20px; }
  #footer #btnX {
    padding: 10px 20px;
    color: #fff;
    transition: all 1s ease-in-out; }

.placeHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 20px 10px;
  background: #2168a1;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  margin: 2px;
  height: 50px;
  box-shadow: 2px 2px 10px 0px #0000009e; }
  .placeHolder .number {
    flex: 1; }
  .placeHolder .title {
    flex: 9; }

#mainForm {
  width: 500px;
  margin: 10px auto;
  border-radius: 3px;
  padding: 20px 20px;
  background: #fff; }
  #mainForm input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgba(199, 199, 199, 0.589);
    transition: all 0.2s ease-in-out; }
  #mainForm p {
    font-size: 10px;
    opacity: 0;
    transition: all 0.2s; }
  #mainForm .invalid input {
    border: 1px solid red; }
  #mainForm .invalid p {
    color: red;
    opacity: 1; }
  #mainForm .valid input {
    border: 1px solid #1fca44; }

body {
  background: green;
  font-size: 20px;
  margin: 20px 0;
  padding: 10px; }

/*# sourceMappingURL=main.css.map */
